Import necessary Modules

In [38]:
from sqlalchemy import create_engine, Column, Integer, String, DATE, ForeignKey, func, desc
from sqlalchemy import *
from sqlalchemy.orm import declarative_base, relationship, sessionmaker
from sqlalchemy.sql import text
from psycopg2 import *

In [39]:
engine = create_engine("postgresql+psycopg2://postgres:Fathima%402808@localhost/BookSales", echo=True)

Session = sessionmaker(bind=engine)
session = Session()

base = declarative_base()

In [40]:
    class book_language(base):
        __tablename__ = 'book_language'
        language_id = Column(Integer, primary_key=True)
        language_code = Column(String(8))
        language_name = Column(String(50))
        books = relationship("book", back_populates="language")

    class book(base):
        __tablename__ = 'book'
        book_id = Column(Integer, primary_key=True)
        title = Column(String(400))
        isbn13 = Column(String(13))
        num_pages = Column(Integer)
        # Foreign key
        language_id = Column(Integer, ForeignKey("book_language.language_id"))
        publisher_id = Column(Integer, ForeignKey("publisher.publisher_id"))
        # Python Relationships
        language = relationship("book_language", back_populates="books")
        publisher = relationship("publisher", back_populates="booksPublished")
        # 
        orderBook = relationship("order_line", back_populates="book")
        
    class publisher(base):
        __tablename__ = 'publisher'
        publisher_id = Column(Integer, primary_key=True)
        publisher_name = Column(String(400))
        # Python Relationships
        booksPublished = relationship("book", back_populates="publisher")  

    class author(base):
        __tablename__ = "author"
        author_id = Column(Integer, primary_key=True)
        author_name = Column(String(400))

    class customer(base):
        __tablename__ = "customer"
        customer_id = Column(Integer, primary_key=True)
        customer_name = Column(String(400))
        email = Column(String(200))
        # 
        order = relationship("cust_order", back_populates="customer")

    class cust_order(base):
        __tablename__ = "cust_order"
        order_id = Column(Integer, primary_key=True)
        customer_id = Column(Integer, ForeignKey("customer.customer_id"))
        # 
        customer = relationship("customer", back_populates="order")
        # 
        orderLine = relationship("order_line",back_populates="order")

    class order_line(base):
        __tablename__ = "order_line"
        order_line_id = Column(Integer, primary_key=True)
        price = Column(Integer)
        order_id = Column(Integer, ForeignKey("cust_order.order_id"))
        book_id = Column(Integer, ForeignKey("book.book_id"))
        # 
        order = relationship("cust_order", back_populates="orderLine")
        # 
        book = relationship("book", back_populates="orderBook")

In [4]:
base.metadata.create_all(engine)

2024-11-29 20:20:42,961 INFO sqlalchemy.engine.Engine select pg_catalog.version()
2024-11-29 20:20:42,961 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-11-29 20:20:42,966 INFO sqlalchemy.engine.Engine select current_schema()
2024-11-29 20:20:42,966 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-11-29 20:20:42,966 INFO sqlalchemy.engine.Engine show standard_conforming_strings
2024-11-29 20:20:42,973 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-11-29 20:20:42,973 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-11-29 20:20:42,981 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = %(table_name)s AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2024-11-29 20:20:42,983 INFO sqlalchemy.engine.Engine [generated in 0.00181s] {'table_name': 'book_language', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog'}
2024-11-29 20:20:42,983 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = %(table_name)s AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2024-11-29 20:20:42,983 INFO sqlalchemy.engine.Engine [cached since 0.008662s ago] {'table_name': 'book', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog'}
2024-11-29 20:20:42,983 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = %(table_name)s AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2024-11-29 20:20:42,983 INFO sqlalchemy.engine.Engine [cached since 0.01153s ago] {'table_name': 'publisher', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog'}
2024-11-29 20:20:42,995 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = %(table_name)s AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2024-11-29 20:20:42,995 INFO sqlalchemy.engine.Engine [cached since 0.01514s ago] {'table_name': 'author', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog'}
2024-11-29 20:20:42,998 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = %(table_name)s AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2024-11-29 20:20:42,998 INFO sqlalchemy.engine.Engine [cached since 0.02213s ago] {'table_name': 'customer', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog'}
2024-11-29 20:20:42,998 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = %(table_name)s AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2024-11-29 20:20:42,998 INFO sqlalchemy.engine.Engine [cached since 0.02589s ago] {'table_name': 'cust_order', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog'}
2024-11-29 20:20:42,998 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = %(table_name)s AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2024-11-29 20:20:43,010 INFO sqlalchemy.engine.Engine [cached since 0.02921s ago] {'table_name': 'order_line', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog'}
2024-11-29 20:20:43,011 INFO sqlalchemy.engine.Engine
CREATE TABLE book_language (
	language_id SERIAL NOT NULL,
	language_code VARCHAR(8),
	language_name VARCHAR(50),
	PRIMARY KEY (language_id)
)


2024-11-29 20:20:43,011 INFO sqlalchemy.engine.Engine [no key 0.00197s] {}
2024-11-29 20:20:43,031 INFO sqlalchemy.engine.Engine
CREATE TABLE publisher (
	publisher_id SERIAL NOT NULL,
	publisher_name VARCHAR(400),
	PRIMARY KEY (publisher_id)
)


2024-11-29 20:20:43,031 INFO sqlalchemy.engine.Engine [no key 0.00135s] {}
2024-11-29 20:20:43,042 INFO sqlalchemy.engine.Engine
CREATE TABLE author (
	author_id SERIAL NOT NULL,
	author_name VARCHAR(400),
	PRIMARY KEY (author_id)
)


2024-11-29 20:20:43,043 INFO sqlalchemy.engine.Engine [no key 0.00141s] {}
2024-11-29 20:20:43,050 INFO sqlalchemy.engine.Engine
CREATE TABLE customer (
	customer_id SERIAL NOT NULL,
	customer_name VARCHAR(400),
	email VARCHAR(200),
	PRIMARY KEY (customer_id)
)


2024-11-29 20:20:43,050 INFO sqlalchemy.engine.Engine [no key 0.00263s] {}
2024-11-29 20:20:43,068 INFO sqlalchemy.engine.Engine
CREATE TABLE book (
	book_id SERIAL NOT NULL,
	title VARCHAR(400),
	isbn13 VARCHAR(13),
	num_pages INTEGER,
	language_id INTEGER,
	publisher_id INTEGER,
	PRIMARY KEY (book_id),
	FOREIGN KEY(language_id) REFERENCES book_language (language_id),
	FOREIGN KEY(publisher_id) REFERENCES publisher (publisher_id)
)


2024-11-29 20:20:43,068 INFO sqlalchemy.engine.Engine [no key 0.00155s] {}
2024-11-29 20:20:43,081 INFO sqlalchemy.engine.Engine
CREATE TABLE cust_order (
	order_id SERIAL NOT NULL,
	customer_id INTEGER,
	PRIMARY KEY (order_id),
	FOREIGN KEY(customer_id) REFERENCES customer (customer_id)
)


2024-11-29 20:20:43,082 INFO sqlalchemy.engine.Engine [no key 0.00157s] {}
2024-11-29 20:20:43,091 INFO sqlalchemy.engine.Engine
CREATE TABLE order_line (
	order_line_id SERIAL NOT NULL,
	price INTEGER,
	order_id INTEGER,
	book_id INTEGER,
	PRIMARY KEY (order_line_id),
	FOREIGN KEY(order_id) REFERENCES cust_order (order_id),
	FOREIGN KEY(book_id) REFERENCES book (book_id)
)


2024-11-29 20:20:43,091 INFO sqlalchemy.engine.Engine [no key 0.00141s] {}
2024-11-29 20:20:43,103 INFO sqlalchemy.engine.Engine COMMIT

In [5]:
publisher1 = publisher(publisher_name="ABC")
publisher2 = publisher(publisher_name="EFG")
publisher3 = publisher(publisher_name="HIJ")
publisher4 = publisher(publisher_name="KLM")
publisher5 = publisher(publisher_name="NOP")

session.add_all([publisher1, publisher2, publisher3, publisher4, publisher5])
session.commit()

2024-11-29 20:20:43,144 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-11-29 20:20:43,158 INFO sqlalchemy.engine.Engine INSERT INTO publisher (publisher_name) SELECT p0::VARCHAR FROM (VALUES (%(publisher_name__0)s, 0), (%(publisher_name__1)s, 1), (%(publisher_name__2)s, 2), (%(publisher_name__3)s, 3), (%(publisher_name__4)s, 4)) AS imp_sen(p0, sen_counter) ORDER BY sen_counter RETURNING publisher.publisher_id, publisher.publisher_id AS publisher_id__1
2024-11-29 20:20:43,161 INFO sqlalchemy.engine.Engine [generated in 0.00015s (insertmanyvalues) 1/1 (ordered)] {'publisher_name__0': 'ABC', 'publisher_name__1': 'EFG', 'publisher_name__2': 'HIJ', 'publisher_name__3': 'KLM', 'publisher_name__4': 'NOP'}
2024-11-29 20:20:43,166 INFO sqlalchemy.engine.Engine COMMIT

In [6]:
# results = session.query(publisher).all()

# for result in results:
#     print(result.publisher_id, result.publisher_name)

In [7]:
English = book_language(language_code="QWERTY", language_name="English")
Tamil = book_language(language_code="QWERTY", language_name="Tamil")
Spanish = book_language(language_code="QWERTY", language_name="Spanish")
French = book_language(language_code="QWERTY", language_name="French")
Tulu = book_language(language_code="QWERTY", language_name="Tulu")

session.add_all([English, Tamil, Spanish, French, Tulu])
session.commit()

2024-11-29 20:20:43,330 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-11-29 20:20:43,333 INFO sqlalchemy.engine.Engine INSERT INTO book_language (language_code, language_name) SELECT p0::VARCHAR, p1::VARCHAR FROM (VALUES (%(language_code__0)s, %(language_name__0)s, 0), (%(language_code__1)s, %(language_name__1)s, 1), (%(language_code__2)s, %(language_name__2)s, 2), (%(language_code__3)s, %(language_name__3)s, 3), (%(language_code__4)s, %(language_name__4)s, 4)) AS imp_sen(p0, p1, sen_counter) ORDER BY sen_counter RETURNING book_language.language_id, book_language.language_id AS language_id__1
2024-11-29 20:20:43,333 INFO sqlalchemy.engine.Engine [generated in 0.00015s (insertmanyvalues) 1/1 (ordered)] {'language_code__0': 'QWERTY', 'language_name__0': 'English', 'language_code__1': 'QWERTY', 'language_name__1': 'Tamil', 'language_code__2': 'QWERTY', 'language_name__2': 'Spanish', 'language_code__3': 'QWERTY', 'language_name__3': 'French', 'language_code__4': 'QWERTY', 'language_name__4': 'Tulu'}
2024-11-29 20:20:43,341 INFO sqlalchemy.engine.Engine COMMIT

In [8]:
results = session.query(book_language).all()

for result in results:
    print(result.language_id, result.language_code, result.language_name)

2024-11-29 20:20:43,385 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-11-29 20:20:43,387 INFO sqlalchemy.engine.Engine SELECT book_language.language_id AS book_language_language_id, book_language.language_code AS book_language_language_code, book_language.language_name AS book_language_language_name
FROM book_language
2024-11-29 20:20:43,387 INFO sqlalchemy.engine.Engine [generated in 0.00112s] {}
1 QWERTY English
2 QWERTY Tamil
3 QWERTY Spanish
4 QWERTY French
5 QWERTY Tulu

In [9]:
book1 = book(title="Great Gatsby", isbn13 = "9780743273565", num_pages= 200, language=English,publisher=publisher1)
book2 = book(title="Gatsby", isbn13 = "9780743273565", num_pages= 400, language=Tamil,publisher=publisher2)
book3 = book(title="The Gatsby", isbn13 = "9780743273565", num_pages= 500, language=Spanish,publisher=publisher3)

session.add_all([book1, book2, book3])
session.commit()

2024-11-29 20:20:43,444 INFO sqlalchemy.engine.Engine SELECT publisher.publisher_id AS publisher_publisher_id, publisher.publisher_name AS publisher_publisher_name
FROM publisher
WHERE publisher.publisher_id = %(pk_1)s
2024-11-29 20:20:43,444 INFO sqlalchemy.engine.Engine [generated in 0.00273s] {'pk_1': 2}
2024-11-29 20:20:43,453 INFO sqlalchemy.engine.Engine SELECT publisher.publisher_id AS publisher_publisher_id, publisher.publisher_name AS publisher_publisher_name
FROM publisher
WHERE publisher.publisher_id = %(pk_1)s
2024-11-29 20:20:43,453 INFO sqlalchemy.engine.Engine [cached since 0.007952s ago] {'pk_1': 3}
2024-11-29 20:20:43,453 INFO sqlalchemy.engine.Engine SELECT publisher.publisher_id AS publisher_publisher_id, publisher.publisher_name AS publisher_publisher_name
FROM publisher
WHERE publisher.publisher_id = %(pk_1)s
2024-11-29 20:20:43,460 INFO sqlalchemy.engine.Engine [cached since 0.01396s ago] {'pk_1': 1}
2024-11-29 20:20:43,466 INFO sqlalchemy.engine.Engine INSERT INTO book (title, isbn13, num_pages, language_id, publisher_id) SELECT p0::VARCHAR, p1::VARCHAR, p2::INTEGER, p3::INTEGER, p4::INTEGER FROM (VALUES (%(title__0)s, %(isbn13__0)s, %(num_pages__0)s, %(language_id__0)s, %(publisher_id__0)s, 0), (% ... 199 characters truncated ... p1, p2, p3, p4, sen_counter) ORDER BY sen_counter RETURNING book.book_id, book.book_id AS book_id__1
2024-11-29 20:20:43,466 INFO sqlalchemy.engine.Engine [generated in 0.00021s (insertmanyvalues) 1/1 (ordered)] {'language_id__0': 1, 'publisher_id__0': 1, 'isbn13__0': '9780743273565', 'num_pages__0': 200, 'title__0': 'Great Gatsby', 'language_id__1': 2, 'publisher_id__1': 2, 'isbn13__1': '9780743273565', 'num_pages__1': 400, 'title__1': 'Gatsby', 'language_id__2': 3, 'publisher_id__2': 3, 'isbn13__2': '9780743273565', 'num_pages__2': 500, 'title__2': 'The Gatsby'}
2024-11-29 20:20:43,480 INFO sqlalchemy.engine.Engine COMMIT

In [46]:
results = session.query(func.count(book.book_id)).scalar()
print(results)

2024-11-30 09:23:52,643 INFO sqlalchemy.engine.Engine SELECT count(book.book_id) AS count_1
FROM book
2024-11-30 09:23:52,644 INFO sqlalchemy.engine.Engine [cached since 16.93s ago] {}
5

In [43]:
print(len(results))

5

---

In [11]:
author1 = author(author_name="Rasheed")
author2 = author(author_name="Rafiq")
author3 = author(author_name="Adil")
author4 = author(author_name="Sheik")
author5 = author(author_name="Ahamed")

session.add_all([author1, author2, author3, author4, author5])
session.commit()

2024-11-29 20:20:43,581 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-11-29 20:20:43,591 INFO sqlalchemy.engine.Engine INSERT INTO author (author_name) SELECT p0::VARCHAR FROM (VALUES (%(author_name__0)s, 0), (%(author_name__1)s, 1), (%(author_name__2)s, 2), (%(author_name__3)s, 3), (%(author_name__4)s, 4)) AS imp_sen(p0, sen_counter) ORDER BY sen_counter RETURNING author.author_id, author.author_id AS author_id__1
2024-11-29 20:20:43,597 INFO sqlalchemy.engine.Engine [generated in 0.00014s (insertmanyvalues) 1/1 (ordered)] {'author_name__0': 'Rasheed', 'author_name__1': 'Rafiq', 'author_name__2': 'Adil', 'author_name__3': 'Sheik', 'author_name__4': 'Ahamed'}
2024-11-29 20:20:43,600 INFO sqlalchemy.engine.Engine COMMIT

In [12]:
customer1 = customer(customer_name="Mohammed Rasheed M", email="mohammed.mo@avasoft.com")
customer2 = customer(customer_name="Mohammed Adil", email="mohammed.mo@avasoft.com")
customer3 = customer(customer_name="Mohammed  Shaik Ahamed Shah", email="mohammed.mo@avasoft.com")
customer4 = customer(customer_name="Rizwannulah Shah", email="mohammed.mo@avasoft.com")
customer5 = customer(customer_name="syed", email="mohammed.mo@avasoft.com")
session.add_all([customer1, customer2, customer3, customer4, customer5])
session.commit()

2024-11-29 20:20:43,643 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-11-29 20:20:43,647 INFO sqlalchemy.engine.Engine INSERT INTO customer (customer_name, email) SELECT p0::VARCHAR, p1::VARCHAR FROM (VALUES (%(customer_name__0)s, %(email__0)s, 0), (%(customer_name__1)s, %(email__1)s, 1), (%(customer_name__2)s, %(email__2)s, 2), (%(customer_name__3)s, %(email__3)s, 3), (%(customer_name__4)s, %(email__4)s, 4)) AS imp_sen(p0, p1, sen_counter) ORDER BY sen_counter RETURNING customer.customer_id, customer.customer_id AS customer_id__1
2024-11-29 20:20:43,653 INFO sqlalchemy.engine.Engine [generated in 0.00027s (insertmanyvalues) 1/1 (ordered)] {'customer_name__0': 'Mohammed Rasheed M', 'email__0': 'mohammed.mo@avasoft.com', 'customer_name__1': 'Mohammed Adil', 'email__1': 'mohammed.mo@avasoft.com', 'customer_name__2': 'Mohammed  Shaik Ahamed Shah', 'email__2': 'mohammed.mo@avasoft.com', 'customer_name__3': 'Rizwannulah Shah', 'email__3': 'mohammed.mo@avasoft.com', 'customer_name__4': 'syed', 'email__4': 'mohammed.mo@avasoft.com'}
2024-11-29 20:20:43,655 INFO sqlalchemy.engine.Engine COMMIT

In [ ]:
order1 = cust_order(customer=customer1)
order2 = cust_order(customer=customer2)
order3 = cust_order(customer=customer3)
order4 = cust_order(customer=customer4)
order5 = cust_order(customer=customer5)
order6 = cust_order(customer=customer5)
order7 = cust_order(customer=customer1)
order8 = cust_order(customer=customer2)
order9 = cust_order(customer=customer3)
order10 = cust_order(customer=customer4)
order11 = cust_order(customer=customer5)
order12 = cust_order(customer=customer1)

session.add_all([order1, order2, order3, order4, order5, order6, order7, order8, order9, order10, order11, order12])
session.commit()

2024-11-29 20:20:43,696 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-11-29 20:20:43,702 INFO sqlalchemy.engine.Engine SELECT customer.customer_id AS customer_customer_id, customer.customer_name AS customer_customer_name, customer.email AS customer_email
FROM customer
WHERE customer.customer_id = %(pk_1)s
2024-11-29 20:20:43,707 INFO sqlalchemy.engine.Engine [generated in 0.00191s] {'pk_1': 5}
2024-11-29 20:20:43,711 INFO sqlalchemy.engine.Engine SELECT customer.customer_id AS customer_customer_id, customer.customer_name AS customer_customer_name, customer.email AS customer_email
FROM customer
WHERE customer.customer_id = %(pk_1)s
2024-11-29 20:20:43,711 INFO sqlalchemy.engine.Engine [cached since 0.008004s ago] {'pk_1': 4}
2024-11-29 20:20:43,716 INFO sqlalchemy.engine.Engine SELECT customer.customer_id AS customer_customer_id, customer.customer_name AS customer_customer_name, customer.email AS customer_email
FROM customer
WHERE customer.customer_id = %(pk_1)s
2024-11-29 20:20:43,716 INFO sqlalchemy.engine.Engine [cached since 0.01429s ago] {'pk_1': 1}
2024-11-29 20:20:43,716 INFO sqlalchemy.engine.Engine SELECT customer.customer_id AS customer_customer_id, customer.customer_name AS customer_customer_name, customer.email AS customer_email
FROM customer
WHERE customer.customer_id = %(pk_1)s
2024-11-29 20:20:43,725 INFO sqlalchemy.engine.Engine [cached since 0.01976s ago] {'pk_1': 3}
2024-11-29 20:20:43,727 INFO sqlalchemy.engine.Engine SELECT customer.customer_id AS customer_customer_id, customer.customer_name AS customer_customer_name, customer.email AS customer_email
FROM customer
WHERE customer.customer_id = %(pk_1)s
2024-11-29 20:20:43,732 INFO sqlalchemy.engine.Engine [cached since 0.02735s ago] {'pk_1': 2}
2024-11-29 20:20:43,735 INFO sqlalchemy.engine.Engine INSERT INTO cust_order (customer_id) SELECT p0::INTEGER FROM (VALUES (%(customer_id__0)s, 0), (%(customer_id__1)s, 1), (%(customer_id__2)s, 2), (%(customer_id__3)s, 3), (%(customer_id__4)s, 4), (%(customer_id__5)s, 5), (%(customer_id__6)s, 6), (%(customer_id__7)s, 7), (%(customer_id__8)s, 8), (%(customer_id__9)s, 9), (%(customer_id__10)s, 10), (%(customer_id__11)s, 11)) AS imp_sen(p0, sen_counter) ORDER BY sen_counter RETURNING cust_order.order_id, cust_order.order_id AS order_id__1
2024-11-29 20:20:43,735 INFO sqlalchemy.engine.Engine [generated in 0.00025s (insertmanyvalues) 1/1 (ordered)] {'customer_id__0': 1, 'customer_id__1': 2, 'customer_id__2': 3, 'customer_id__3': 4, 'customer_id__4': 5, 'customer_id__5': 5, 'customer_id__6': 1, 'customer_id__7': 2, 'customer_id__8': 3, 'customer_id__9': 4, 'customer_id__10': 5, 'customer_id__11': 1}
2024-11-29 20:20:43,743 INFO sqlalchemy.engine.Engine COMMIT

In [14]:
orderLine1 = order_line(price=200, order=order1, book=book1)
orderLine2 = order_line(price=300, order=order2, book=book2)
orderLine3 = order_line(price=400, order=order3, book=book3)
orderLine4 = order_line(price=500, order=order4, book=book3)
orderLine5 = order_line(price=600, order=order5, book=book2)
orderLine6 = order_line(price=800, order=order6, book=book1)
orderLine7 = order_line(price=900, order=order7, book=book2)
orderLine8 = order_line(price=10000, order=order8, book=book3)
orderLine9 = order_line(price=1200, order=order9, book=book2)
orderLine10 = order_line(price=1200, order=order10, book=book1)
orderLine11 = order_line(price=1200, order=order10, book=book1)
orderLine12 = order_line(price=1200, order=order1, book=book2)
orderLine13 = order_line(price=1200, order=order2, book=book2)
orderLine14 = order_line(price=1200, order=order3, book=book3)
orderLine15 = order_line(price=1200, order=order4, book=book1)
orderLine16 = order_line(price=1200, order=order5, book=book2)
orderLine17 = order_line(price=1200, order=order6, book=book3)

session.add_all([orderLine1, orderLine2, orderLine3, orderLine4, orderLine5, \
    orderLine6, orderLine7, orderLine8, orderLine9, orderLine10, orderLine11, \
        orderLine12, orderLine13, orderLine14, \
            orderLine15, orderLine16, orderLine17])
session.commit()

2024-11-29 20:20:43,780 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-11-29 20:20:43,797 INFO sqlalchemy.engine.Engine SELECT book.book_id AS book_book_id, book.title AS book_title, book.isbn13 AS book_isbn13, book.num_pages AS book_num_pages, book.language_id AS book_language_id, book.publisher_id AS book_publisher_id
FROM book
WHERE book.book_id = %(pk_1)s
2024-11-29 20:20:43,805 INFO sqlalchemy.engine.Engine [generated in 0.01053s] {'pk_1': 2}
2024-11-29 20:20:43,818 INFO sqlalchemy.engine.Engine SELECT book.book_id AS book_book_id, book.title AS book_title, book.isbn13 AS book_isbn13, book.num_pages AS book_num_pages, book.language_id AS book_language_id, book.publisher_id AS book_publisher_id
FROM book
WHERE book.book_id = %(pk_1)s
2024-11-29 20:20:43,818 INFO sqlalchemy.engine.Engine [cached since 0.02397s ago] {'pk_1': 3}
2024-11-29 20:20:43,818 INFO sqlalchemy.engine.Engine SELECT book.book_id AS book_book_id, book.title AS book_title, book.isbn13 AS book_isbn13, book.num_pages AS book_num_pages, book.language_id AS book_language_id, book.publisher_id AS book_publisher_id
FROM book
WHERE book.book_id = %(pk_1)s
2024-11-29 20:20:43,818 INFO sqlalchemy.engine.Engine [cached since 0.02836s ago] {'pk_1': 1}
2024-11-29 20:20:43,829 INFO sqlalchemy.engine.Engine SELECT cust_order.order_id AS cust_order_order_id, cust_order.customer_id AS cust_order_customer_id
FROM cust_order
WHERE cust_order.order_id = %(pk_1)s
2024-11-29 20:20:43,832 INFO sqlalchemy.engine.Engine [generated in 0.00752s] {'pk_1': 6}
2024-11-29 20:20:43,839 INFO sqlalchemy.engine.Engine SELECT cust_order.order_id AS cust_order_order_id, cust_order.customer_id AS cust_order_customer_id
FROM cust_order
WHERE cust_order.order_id = %(pk_1)s
2024-11-29 20:20:43,842 INFO sqlalchemy.engine.Engine [cached since 0.01242s ago] {'pk_1': 10}
2024-11-29 20:20:43,850 INFO sqlalchemy.engine.Engine SELECT cust_order.order_id AS cust_order_order_id, cust_order.customer_id AS cust_order_customer_id
FROM cust_order
WHERE cust_order.order_id = %(pk_1)s
2024-11-29 20:20:43,852 INFO sqlalchemy.engine.Engine [cached since 0.02247s ago] {'pk_1': 4}
2024-11-29 20:20:43,855 INFO sqlalchemy.engine.Engine SELECT cust_order.order_id AS cust_order_order_id, cust_order.customer_id AS cust_order_customer_id
FROM cust_order
WHERE cust_order.order_id = %(pk_1)s
2024-11-29 20:20:43,855 INFO sqlalchemy.engine.Engine [cached since 0.02665s ago] {'pk_1': 7}
2024-11-29 20:20:43,855 INFO sqlalchemy.engine.Engine SELECT cust_order.order_id AS cust_order_order_id, cust_order.customer_id AS cust_order_customer_id
FROM cust_order
WHERE cust_order.order_id = %(pk_1)s
2024-11-29 20:20:43,860 INFO sqlalchemy.engine.Engine [cached since 0.03067s ago] {'pk_1': 9}
2024-11-29 20:20:43,869 INFO sqlalchemy.engine.Engine SELECT cust_order.order_id AS cust_order_order_id, cust_order.customer_id AS cust_order_customer_id
FROM cust_order
WHERE cust_order.order_id = %(pk_1)s
2024-11-29 20:20:43,869 INFO sqlalchemy.engine.Engine [cached since 0.04154s ago] {'pk_1': 3}
2024-11-29 20:20:43,873 INFO sqlalchemy.engine.Engine SELECT cust_order.order_id AS cust_order_order_id, cust_order.customer_id AS cust_order_customer_id
FROM cust_order
WHERE cust_order.order_id = %(pk_1)s
2024-11-29 20:20:43,877 INFO sqlalchemy.engine.Engine [cached since 0.04685s ago] {'pk_1': 5}
2024-11-29 20:20:43,877 INFO sqlalchemy.engine.Engine SELECT cust_order.order_id AS cust_order_order_id, cust_order.customer_id AS cust_order_customer_id
FROM cust_order
WHERE cust_order.order_id = %(pk_1)s
2024-11-29 20:20:43,877 INFO sqlalchemy.engine.Engine [cached since 0.05405s ago] {'pk_1': 1}
2024-11-29 20:20:43,886 INFO sqlalchemy.engine.Engine SELECT cust_order.order_id AS cust_order_order_id, cust_order.customer_id AS cust_order_customer_id
FROM cust_order
WHERE cust_order.order_id = %(pk_1)s
2024-11-29 20:20:43,886 INFO sqlalchemy.engine.Engine [cached since 0.05917s ago] {'pk_1': 2}
2024-11-29 20:20:43,886 INFO sqlalchemy.engine.Engine SELECT cust_order.order_id AS cust_order_order_id, cust_order.customer_id AS cust_order_customer_id
FROM cust_order
WHERE cust_order.order_id = %(pk_1)s
2024-11-29 20:20:43,894 INFO sqlalchemy.engine.Engine [cached since 0.06364s ago] {'pk_1': 8}
2024-11-29 20:20:43,902 INFO sqlalchemy.engine.Engine INSERT INTO order_line (price, order_id, book_id) SELECT p0::INTEGER, p1::INTEGER, p2::INTEGER FROM (VALUES (%(price__0)s, %(order_id__0)s, %(book_id__0)s, 0), (%(price__1)s, %(order_id__1)s, %(book_id__1)s, 1), (%(price__2)s, %(order_id__2)s, %(book ... 807 characters truncated ... RDER BY sen_counter RETURNING order_line.order_line_id, order_line.order_line_id AS order_line_id__1
2024-11-29 20:20:43,902 INFO sqlalchemy.engine.Engine [generated in 0.00019s (insertmanyvalues) 1/1 (ordered)] {'order_id__0': 1, 'book_id__0': 1, 'price__0': 200, 'order_id__1': 2, 'book_id__1': 2, 'price__1': 300, 'order_id__2': 3, 'book_id__2': 3, 'price__2': 400, 'order_id__3': 4, 'book_id__3': 3, 'price__3': 500, 'order_id__4': 5, 'book_id__4': 2, 'price__4': 600, 'order_id__5': 6, 'book_id__5': 1, 'price__5': 800, 'order_id__6': 7, 'book_id__6': 2, 'price__6': 900, 'order_id__7': 8, 'book_id__7': 3, 'price__7': 10000, 'order_id__8': 9, 'book_id__8': 2, 'price__8': 1200, 'order_id__9': 10, 'book_id__9': 1, 'price__9': 1200, 'order_id__10': 10, 'book_id__10': 1, 'price__10': 1200, 'order_id__11': 1, 'book_id__11': 2, 'price__11': 1200, 'order_id__12': 2, 'book_id__12': 2, 'price__12': 1200, 'order_id__13': 3, 'book_id__13': 3, 'price__13': 1200, 'order_id__14': 4, 'book_id__14': 1, 'price__14': 1200, 'order_id__15': 5, 'book_id__15': 2, 'price__15': 1200, 'order_id__16': 6, 'book_id__16': 3, 'price__16': 1200}
2024-11-29 20:20:43,910 INFO sqlalchemy.engine.Engine COMMIT

In [15]:
results = session.query(book).all()

for result in results:
    print(f"Book_ID: {result.book_id} - Title: {result.title} - isbn: {result.isbn13}")

2024-11-29 20:25:29,180 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-11-29 20:25:29,182 INFO sqlalchemy.engine.Engine SELECT book.book_id AS book_book_id, book.title AS book_title, book.isbn13 AS book_isbn13, book.num_pages AS book_num_pages, book.language_id AS book_language_id, book.publisher_id AS book_publisher_id
FROM book
2024-11-29 20:25:29,182 INFO sqlalchemy.engine.Engine [generated in 0.00125s] {}
Book_ID: 1 - Title: Great Gatsby - isbn: 9780743273565
Book_ID: 2 - Title: Gatsby - isbn: 9780743273565
Book_ID: 3 - Title: The Gatsby - isbn: 9780743273565

In [17]:
results = session.query(author).order_by(author.author_name)

for result in results:
    print(f"Author_ID: {result.author_id} - Author_Name: {result.author_name}")

2024-11-29 20:26:47,081 INFO sqlalchemy.engine.Engine SELECT author.author_id AS author_author_id, author.author_name AS author_author_name
FROM author ORDER BY author.author_name
2024-11-29 20:26:47,083 INFO sqlalchemy.engine.Engine [generated in 0.00244s] {}
Author_ID: 3 - Author_Name: Adil
Author_ID: 5 - Author_Name: Ahamed
Author_ID: 2 - Author_Name: Rafiq
Author_ID: 1 - Author_Name: Rasheed
Author_ID: 4 - Author_Name: Sheik

In [22]:
results = session.query(publisher.publisher_id, publisher.publisher_name, func.count(book.book_id).label("Books_Published")).join(book, publisher.publisher_id==book.publisher_id).group_by(publisher.publisher_name, publisher.publisher_id).order_by(publisher.publisher_id)

for result in results:
    print(f"Publisher_ID: {result.publisher_id} - Publisher_Name: {result.publisher_name} - Book Count: {result.Books_Published}")

2024-11-29 20:40:48,173 INFO sqlalchemy.engine.Engine SELECT publisher.publisher_id AS publisher_publisher_id, publisher.publisher_name AS publisher_publisher_name, count(book.book_id) AS "Books_Published"
FROM publisher JOIN book ON publisher.publisher_id = book.publisher_id GROUP BY publisher.publisher_name, publisher.publisher_id ORDER BY publisher.publisher_id
2024-11-29 20:40:48,173 INFO sqlalchemy.engine.Engine [generated in 0.00342s] {}
Publisher_ID: 1 - Publisher_Name: ABC - Book Count: 1
Publisher_ID: 2 - Publisher_Name: EFG - Book Count: 1
Publisher_ID: 3 - Publisher_Name: HIJ - Book Count: 1
Publisher_ID: 4 - Publisher_Name: KLM - Book Count: 1
Publisher_ID: 5 - Publisher_Name: NOP - Book Count: 1

In [20]:
book4 = book(title="Gatsby", isbn13 = "9780743273565", num_pages= 400, language=Tamil,publisher=publisher4)
book5 = book(title="The Gatsby", isbn13 = "9780743273565", num_pages= 500, language=Spanish,publisher=publisher5)

session.add_all([book4, book5])
session.commit()

2024-11-29 20:39:49,820 INFO sqlalchemy.engine.Engine SELECT book_language.language_id AS book_language_language_id, book_language.language_code AS book_language_language_code, book_language.language_name AS book_language_language_name
FROM book_language
WHERE book_language.language_id = %(pk_1)s
2024-11-29 20:39:49,824 INFO sqlalchemy.engine.Engine [generated in 0.00280s] {'pk_1': 2}
2024-11-29 20:39:49,827 INFO sqlalchemy.engine.Engine SELECT book_language.language_id AS book_language_language_id, book_language.language_code AS book_language_language_code, book_language.language_name AS book_language_language_name
FROM book_language
WHERE book_language.language_id = %(pk_1)s
2024-11-29 20:39:49,827 INFO sqlalchemy.engine.Engine [cached since 0.01061s ago] {'pk_1': 3}
2024-11-29 20:39:49,834 INFO sqlalchemy.engine.Engine SELECT publisher.publisher_id AS publisher_publisher_id, publisher.publisher_name AS publisher_publisher_name
FROM publisher
WHERE publisher.publisher_id = %(pk_1)s
2024-11-29 20:39:49,834 INFO sqlalchemy.engine.Engine [cached since 1146s ago] {'pk_1': 4}
2024-11-29 20:39:49,841 INFO sqlalchemy.engine.Engine SELECT publisher.publisher_id AS publisher_publisher_id, publisher.publisher_name AS publisher_publisher_name
FROM publisher
WHERE publisher.publisher_id = %(pk_1)s
2024-11-29 20:39:49,843 INFO sqlalchemy.engine.Engine [cached since 1146s ago] {'pk_1': 5}
2024-11-29 20:39:49,849 INFO sqlalchemy.engine.Engine INSERT INTO book (title, isbn13, num_pages, language_id, publisher_id) SELECT p0::VARCHAR, p1::VARCHAR, p2::INTEGER, p3::INTEGER, p4::INTEGER FROM (VALUES (%(title__0)s, %(isbn13__0)s, %(num_pages__0)s, %(language_id__0)s, %(publisher_id__0)s, 0), (%(title__1)s, %(isbn13__1)s, %(num_pages__1)s, %(language_id__1)s, %(publisher_id__1)s, 1)) AS imp_sen(p0, p1, p2, p3, p4, sen_counter) ORDER BY sen_counter RETURNING book.book_id, book.book_id AS book_id__1
2024-11-29 20:39:49,849 INFO sqlalchemy.engine.Engine [cached since 1146s ago (insertmanyvalues) 1/1 (ordered)] {'language_id__0': 2, 'publisher_id__0': 4, 'isbn13__0': '9780743273565', 'num_pages__0': 400, 'title__0': 'Gatsby', 'language_id__1': 3, 'publisher_id__1': 5, 'isbn13__1': '9780743273565', 'num_pages__1': 500, 'title__1': 'The Gatsby'}
2024-11-29 20:39:49,849 INFO sqlalchemy.engine.Engine COMMIT

In [23]:
results = session.query(customer).order_by(customer.customer_id).all()

for result in results:
    print(f"Customer ID: {result.customer_id} Customer_Name: {result.customer_name} Customer_Email: {result.email}")

2024-11-29 20:43:20,979 INFO sqlalchemy.engine.Engine SELECT customer.customer_id AS customer_customer_id, customer.customer_name AS customer_customer_name, customer.email AS customer_email
FROM customer ORDER BY customer.customer_id
2024-11-29 20:43:20,979 INFO sqlalchemy.engine.Engine [generated in 0.00169s] {}
Customer ID: 1 Customer_Name: Mohammed Rasheed M Customer_Email: mohammed.mo@avasoft.com
Customer ID: 2 Customer_Name: Mohammed Adil Customer_Email: mohammed.mo@avasoft.com
Customer ID: 3 Customer_Name: Mohammed  Shaik Ahamed Shah Customer_Email: mohammed.mo@avasoft.com
Customer ID: 4 Customer_Name: Rizwannulah Shah Customer_Email: mohammed.mo@avasoft.com
Customer ID: 5 Customer_Name: syed Customer_Email: mohammed.mo@avasoft.com

In [24]:
results = session.query(book).filter(book.num_pages > 300).all()

for result in results:
    print(f"Book_ID: {result.book_id} - Title {result.title}")

2024-11-29 20:45:56,870 INFO sqlalchemy.engine.Engine SELECT book.book_id AS book_book_id, book.title AS book_title, book.isbn13 AS book_isbn13, book.num_pages AS book_num_pages, book.language_id AS book_language_id, book.publisher_id AS book_publisher_id
FROM book
WHERE book.num_pages > %(num_pages_1)s
2024-11-29 20:45:56,875 INFO sqlalchemy.engine.Engine [generated in 0.00382s] {'num_pages_1': 300}
Book_ID: 2 - Title Gatsby
Book_ID: 3 - Title The Gatsby
Book_ID: 4 - Title Gatsby
Book_ID: 5 - Title The Gatsby

In [30]:
books_with_gatsby = session.query(book).filter(book.title.ilike('%gatsby%'))

for i in books_with_gatsby:
    print(f"Book_ID: {book.book_id} BookTitile: {i.title} PublisherName: {result.publisher.publisher_name}")

2024-11-29 22:13:41,118 INFO sqlalchemy.engine.Engine SELECT book.book_id AS book_book_id, book.title AS book_title, book.isbn13 AS book_isbn13, book.num_pages AS book_num_pages, book.language_id AS book_language_id, book.publisher_id AS book_publisher_id
FROM book
WHERE book.title ILIKE %(title_1)s
2024-11-29 22:13:41,119 INFO sqlalchemy.engine.Engine [cached since 170s ago] {'title_1': '%gatsby%'}
Book_ID: book.book_id BookTitile: Great Gatsby PublisherName: NOP
Book_ID: book.book_id BookTitile: Gatsby PublisherName: NOP
Book_ID: book.book_id BookTitile: The Gatsby PublisherName: NOP
Book_ID: book.book_id BookTitile: Gatsby PublisherName: NOP
Book_ID: book.book_id BookTitile: The Gatsby PublisherName: NOP

In [33]:
a = [10,11,12]

In [37]:
for i,j in enumerate(a):
    (f"code{i}") = rasheed

SyntaxError: cannot assign to f-string expression (122566535.py, line 2)